/*
====================================================
=================== DECLARATIONS ===================
====================================================
*/

$base-color: #ffffff;
$accent-color: #f2b33d;
$main-text-color: #1f2424;

$navbar-item-font-stack: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial,
  sans-serif;

@font-face {
  font-family: "elephant-rough";
  src: url("./font/Elephant/Elephant-Rough.otf") format("woff"),
    url("./font/Elephant/Elephant-Rough.otf") format("opentype"),
    url("./font/Elephant/Elephant-Rough.otf") format("truetype");
}
/*
===================================================
====================== STYLE ======================
===================================================
*/

body {
  font-family: $navbar-item-font-stack;
  font-size: 18px;
  color: #1f2424;
}

#title-one {
  color: #f2b33d;
}

.navbar-brand .name:hover {
  color: #4a4a4a;
}

.name {
  font-size: 30px;
  font-family: "elephant-rough";
  font-weight: bold;
  padding: 0 3px;
  margin-top: -2px;
  display: flex;
}

.nav-link:hover {
  text-decoration: underline;
  background: $base-color !important;
}

.main-text {
  text-align: justify;
}
